{
    "env": {
        "prodution": {
            "presets": [
                ["@babel/env", {"modules": false}]
            ]
        },
        "test": {
            "presets": [
                ["@babel/env", {"modules": "commonjs"}]
            ]
        }
    }
    
}